$sansSerifFont:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bodyBackgroundColor: #343a40;
$bodyColor: #e9ecef;

$investigatingColor: #c91925;
$identifiedColor: #d18339;
$monitoringColor: #399dd1;
$resolvedColor: #6CBE07;

$operationalColor: $resolvedColor;
$troubleColor: #ecbb2f;